<nav *ngIf="float" class="position">
  <div style="display: flex;">
    <h2 style="color: #fff">Selected Team Members</h2>
    <div *ngFor="let user of getSelectedTeamMembers()" (click)="teamShow()" class="firsteverbadgeinmylife">
      <mat-icon
        [matBadge]="getSelectedTeamMembers().length"
        matBadgeColor="accent"
        fontIcon="person"
      ></mat-icon>
    </div>
  </div>
  <div style="position: relative" class="displaymates">
    <div
      style="position: relative"
      class="selectedteammate"
      *ngFor="let user of getSelectedTeamMembers()">
      <mat-icon
        (click)="removeteammemeber(user)"
        style="color: #ff0000; position: absolute; top: 5px; right: 5px"
        fontIcon="cancel"
      ></mat-icon>
      <h4>{{ user.first_name }} {{ user.last_name }}</h4>
      <p>Domain: {{ user.domain }}</p>
    </div>
    <button
      [disabled]="getSelectedTeamMembers().length !== 7"
      style="
        border: none;
        background-color: green;
        padding: 10px;
        border-radius: 8px;
      "
      (click)="float = false"
    >
      Confirm
    </button>
  </div>
</nav>


<main>
  <section class="selectedclass">
    <div style="display: flex; align-items: center; justify-content: space-between;">
      <input
        class="searchinput"
        type="text"
        (input)="perfomSearch()"
        placeholder="Search.."
        [(ngModel)]="searchText"
      />
      <mat-icon
        (click)="togglefilter()"
        style="color: #fff"
        fontIcon="filter_list"
      ></mat-icon>
    </div>

    <div *ngIf="filtershow" class="filterstab">
      <select [(ngModel)]="filteredusers.gender">
        <option value="" disabled selected>Choose Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
      <select [(ngModel)]="filteredusers.domain">
        <option value="" disabled selected>Choose Domain</option>
        <option value="IT">IT</option>
        <option value="Marketing">Marketing</option>
        <option value="Finance">Finance</option>
        <option value="Sales">Sales</option>
        <option value="Management">Management</option>
        <option value="Business Development">Business Development</option>
        <option value="UI Designing">UI Designing</option>
      </select>
      <div style="display: flex; align-items: center">
        <input type="checkbox" [(ngModel)]="filteredusers.available" />
        <label for="">Available Users Only</label>
      </div>
      <button (click)="applyfilters()">Apply Filters</button>
    </div>
  </section>
  <div class="userlist">
    <ul
      *ngFor="
        let user of filteredlist.slice(
          (currentPage - 1) * limit,
          currentPage * limit
        )
      "
    >
      <li class="userlistitem">
        <div class="profiledetails">
          <span>
            <img src="{{ user.avatar }}" alt="" />
          </span>
          <span class="profileinfo">
            <h3>{{ user.first_name }} {{ user.last_name }}</h3>
            <p>{{ user.gender }}</p>
            <p>Domain: {{ user.domain }}</p>
            <p>Email: {{ user.email }}</p>
            <div class="actions">
              <p
                [class.active]="user.available"
                [class.inactive]="!user.available"
              >
                {{ user.available ? "Available" : "Unavailable" }}
              </p>
              <button
                (click)="selectUserForTeam(user)"
                [disabled]="user.teamMember"
                [class.remove]="user.team_member"
                [class.selected]="!user.team_member"
              >
                {{ user.team_member ? "x" : "+" }}
              </button>
            </div>
          </span>
        </div>
      </li>
    </ul>
  </div>
  <app-pagination
    [limit]="limit"
    [currentPage]="currentPage"
    (changePage)="changePage($event)"
  >
  </app-pagination>

  <div *ngIf="float">
    <div *ngIf="mobilebagecontrol" class="subidea">
      <div class="teammateselected"
        *ngFor="let user of getSelectedTeamMembers()">
        <mat-icon
        class="cancelicon"
          (click)="removeteammemeber(user)"
          fontIcon="cancel"
        ></mat-icon>
        <h4>{{ user.first_name }} {{ user.last_name }}</h4>
        <p>Domain: {{ user.domain }}</p>
      </div>
      <button
        [disabled]="getSelectedTeamMembers().length !== 7"
        style="
          border: none;
          background-color: green;
          padding: 10px;
          border-radius: 8px;
        "
        (click)="float = false"
      >
        <mat-icon fontIcon="check"></mat-icon>
      </button>
    </div>
    <div class="idea" *ngFor="let user of getSelectedTeamMembers()" >
      <h3>Selected Teammates</h3>
      <mat-icon 
        [matBadge]="getSelectedTeamMembers().length" 
        matBadgeColor="accent"
        fontIcon="person"
        (click)="teamShow()"
      ></mat-icon>
    </div>
  </div>
</main>
