main{
  width: 100%;
  padding: 50px;
  background-color: #011728;
  color: #001f0c;
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.searchinput{
  width: 250px;
  padding: 15px;
  height: 40px;
  border-radius: 10px;
  border: none;
}
.filterstab{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  top: 100px;
  left: 120px;
  z-index: 30;
  width: 250px;
  padding: 15px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 10px;
}
.filterstab input,select{
  height: 40px;
}
.userlist{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  background-color: #011728;
  gap: 20px;
}
.userlist ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.userlistitem{
  border-radius: 10px;
  color: #FFF;
  padding: 20px;
  display: flex;
  border: 2px solid rgb(220 239 254);
  background-color: #011728;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}
.profiledetails{
  display: flex;
  gap: 10px;
}
.active{
  background-color: #0289e3;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
}
.inactive{
  background-color: tomato;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
}
/* .actions{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
.selected{
  background-color: rgb(77, 109, 130);
  border: none;
  width: 50px;
  color: #FFF;
  padding: 10px 0px;
  border-radius: 8px;
  position: absolute;
  top: 10px;
  right: 10px;
  /* margin-top: 10px; */
}
.remove{
  background-color: rgb(192, 115, 102);
  border: none;
  width: 50px;
  padding: 10px 0px;
  border-radius: 8px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.profiledetails img{
  background-color: #58e0fe;
  border-radius: 50%;
  padding: 5px;
}
.profiledetails h3{
  margin: 0;
}
.profiledetails p{
  margin: 0;
}
.profileinfo{
  display: flex;
  flex-direction: column;
  /* gap: 15px; */
}
.profileinfo p{
  margin: 0;
  border:none;
}
.firsteverbadgeinmylife{
  background-color: #FFF;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  display: flex;
  justify-content: center;
  height: 30px;
  border-radius: 50%;
}
.position{
  position: fixed;
  top: 15px;
  right: 10px;
  width: 40%;
  padding: 20px;
  z-index: 10;
  border-radius: 15px;
  background-color: rgb(0, 0, 0,  0.1);
}
.idea, .subidea{
  display: none;
}
.selectedteammate{
  display: flex;
  /* flex-direction: column; */
  background-color: #dbffea;
  /* width: fit-content; */
  align-items: center;
  gap: 10px;
  padding: 8px 30px 8px 5px;
  border-radius: 10px;
  font-family: 'Poppins';
  /* border: 2px solid red; */
}
.selectedteammate h4{
  margin: 0;
}
.selectedteammate p{
  margin: 0;
}
.displaymates{
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  /* border: 2px solid red; */
}
.cancelicon{
  color: #ff0000; 
  position: absolute; 
  top: 5px; 
  right: 5px
}
.v{
  border: 2px solid green;
}
@media screen and (max-width: 500px) {
  main{
    padding: 10px;
  }
  .position{
    display: none;
  }
  .userlist{
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
  .displaymates{
    grid-template-columns: 1fr;
  }
  .selectedclass{
    display: flex;
    flex-direction: column;
  }
  .selectedteammate{
    display: block;
  }
  .selectedshy{
    display: none;
  }
  .userlistitem{
    font-size: 12px;
  }
  .profiledetails{
    flex-direction: column;
    align-items: center;
  }
  .idea{
    background-color: rgb(0, 0, 0,  0.1);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .teammateselected{
    background-color: #58e0fe;
    border-radius: 10px;
    padding: 0px 10px;
  }
  .teammateselected h4, p{
    margin: 0;
  }
  .subidea{
    display: block;
    width: 100%;
    position: fixed;
    padding: 0px 10px;
    bottom: 70px;
    left: 0;
    color: #FFF;
  }
  .filterstab{
    top: 50px;
    left: 20%;
  }
  .cancelicon{
    top: 5px; 
    right: 15px
  }
}